.dashboard {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .dashboard .dashboardh2 {
        font-size: 1.25rem;
    }

    .dashboard canvas {
        width: 100% !important;
        height: auto !important;
    }
}