.profilecontainer {
    padding: 1rem;
    max-width: 500px;
    margin: 2rem auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}

.profileform {
    display: flex;
    flex-direction: column;
    gap: 1;
    margin-top: 1rem;
}

input[type="file"] {
    padding: 0.5rem;
}

.profilebutton {
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.preview {
    max-width: 150px;
    margin: 1rem auto;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}