.container {
    padding: 1rem;
}

.billuploadform {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 400px;
}

.billuploadinput, .billuploadbutton {
    padding: 0.5rem;
    font-size: 1rem;
}