.header-container  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:inherit;
    /* background-color: black; */
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    /* background-color: black; */
    margin-bottom: 0;
}

div>h1{
    margin: 0 55px 0 0;
}

#logout-btn{
    margin-right:30px ;
}

#logout-btn:hover{
    background-color: #1a5ed9;
}