.container {
    padding: 1rem;
}

.billul {
    list-style: none;
    padding: 0;
}

.bllli {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.billselect, .billbutton {
    padding: 0.3rem 0.5rem;
}