.container {
    padding: 1rem;
}

.billul {
    list-style: none;
    padding: 0;
}

.billsli {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.billselect {
    padding: 0.3rem 0.5rem;
}