.container {
    padding: 1rem;
}

.billsfilters {
    display: flex;
    flex-wrap: 0.5rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.billul {
    list-style: none;
    padding: 0;
}

.billsli {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.billselect, .billbutton, .billinput {
    padding: 0.3rem 0.5rem;
}